{% extends "base.html" %}

{% block title %}view console{% endblock %}

{% block content %}
<div id='container'></div>
<script>console_constance = '{{ config.API_CONSOLE_BACKEND }}'</script>
{% endblock %}

{% block le_javascript %}
	<!-- Vendor javascript libraries -->
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/backbone.0.9.10.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/backbone-tastypie.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/modernizr.2.6.2.custom.js"></script>

    <!-- Application specific javascript -->
    <script src="{{ STATIC_URL }}js/OMSConsole.js"></script>

{% endblock %}
