

.subheader {
text-align:center;
font-size:80%;
color:#aaa;
padding-bottom:10px;	
}

.question {
	padding:25px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.thankyou {
	font-size:140%;
	font-weight:300;
	text-align:center;
	color:#999;
	
}

.footer {
	border-top: 1px solid rgba(0, 0, 0, .08);
	border-bottom:none;
	background: none;
	color: #777;
	text-shadow: 0 1px 0 white;
}

.footer p {
	font-size: .8em;
	font-weight: normal;
	margin: .7em 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}